.tiny-box {
  width: 1in;
  height: 1in;
}

.yellow {
  background-color: yellow;
}

/* test to see which element is changed */
/* should render black border */
:host {
  border: 2px solid black;
}

/* should render red background */
:host(.red-host) {
  background-color: red;
  padding: 0.1in;
}

:host .innermost {
  background-color: cyan;
  padding: 0.1in;
  font-family: fantasy;
}

/* should render Webdings */
:host-context(.silly-theme) {
  font-family: 'Courier';
}

:host ::ng-deep .test-combine {
  font-weight: bold;
}