.tiny-box {
  width: 2in;
  height: 2in;
}

.yellow {
  background-color: yellow;
}

/* test to see which element is changed */
/* should render black border */
:host {
  border: 2px solid black;
}

/* should render red background */
:host(.red-host) {
  background-color: red;
  padding: 0.1in;
}